@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Like all other Social Media Apps on the Web, Blabber does not actually provide any privacy. We say we will but we will sell your data!</p>

